@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Noto+Sans+Syloti+Nagri&family=Seaweed+Script&display=swap');
body{
    background-image: url(img/Mano-pintando-un-cuadro.webp);
    background-repeat: no-repeat;
    margin: 0%;
    
    background-size: 100%;
}
.derecha{
    display: flex;
    justify-content: space-around;
    padding: 0% 20%;
   
}
.espacio {
    padding: 30% 30%;
    display: flex;
    background-color: transparent;
    border:transparent;
    /* ojo corregir esto */
    cursor: pointer;
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(19, 55, 214, 0.7);
    font-family: 'Anton', sans-serif;
    
}
.pintura{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.cuerpo{
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;

}
#paint{
    width: 100%;
    display: flex;
    
}
.texto{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0% 10% 0% 20%;
    background-color: rgba(0, 0, 0, 0.445);
    color: white;
}
.titulo{
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    padding-bottom: -6%;
}
.parrafo{
    font-size: 1.2rem;
    padding-top: -100%;
}
