@import url('https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@700&family=Noto+Sans+Syloti+Nagri&family=Seaweed+Script&display=swap');
@media screen and (min-width:71px) and (max-width:2024px) {}
    

body{
    background-color: black;
    margin: 0%;
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #2aacb8;
    padding: 1rem;
  }
  
  /* Estilos móvil/celular */
  @media all and (max-width: 750px) {
    
    /* Oculta el nav en la parte izquiera */
    .nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgb(104, 37, 37);
      transform: translateX(-100vw);
      transition: 0.5s;
      
    }
  
    /* Muestra el nav */
    .nav--show {
      transform: translateX(0);
    }
  
    .nav__button {
      text-align: right;
      margin: 1rem;
      
    }
  
    .nav__ul {
      list-style: none;
      padding: 0;
      margin: 0;
      background: rgba(104, 37, 37, 0.671);
    }
  
    .nav__link {
      display: block;
      padding: 1rem;
      font-size: 1.5rem;
      text-align: center;
      text-decoration: none;
      color: black;
      
    }
  }
  
  /* Estilos Escritorio */
  @media all and (min-width: 600px) {
  
    /* Oculta botón de abrir o cerrar */
    .nav__button,
    .header__button-nav--open {
      display: none;
    }
  
    /* Adapta el nav en horizontal */
    .nav__ul {
      display: flex;
      list-style: none;
      padding: 0;
    }
  
    .nav__link {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: black;
      transition: 0.5s;
    }
  
    .nav__link:hover {
      opacity: 0.5;
    }
  }

.cuerpo{
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 0% 5%;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
    /* si algo aqui hay arreglos en fle wrap, align items */
    
}

#paint{
    width: 500px;
    display: flex;
    justify-content: flex-start;
    height: 500px;
    padding-top: 5%;
    margin-bottom: 4%;
    object-fit: cover;
    
}


.texto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0% 10% 0% 20%;
    background-color: rgba(11, 70, 197, 0.445);
    color: white;
    width: 500px;
    height: 600px;
    margin-left: 2%;
    
    
}
.titulo{
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    padding-bottom: -6%;
    
   
}
.parrafo{
    font-size: 1.2rem;
    padding-bottom: 10%;
}
.scrool{
    width:500px;
    height:415px; 
    overflow-y: scroll;
   
}
#imagen{
    border-radius: 50%;
    width: 20%;
    height: 90%;
    justify-content: space-around;
    display: flex;

}
.abajo{
    display: flex;
    justify-content: flex-end;
    align-items:start;
    
    padding-right: 30%;
    padding-top: 15%;
}
.click{
    font-size: 2rem;
}
footer{
    background-color: white;
    height:6em;
    display: flex;
    align-items: center;
    margin-top: 3%;
    
    
}
@media (max-width: 900px){
    footer{
        height:8em;
    display: flex;
    align-items: center;
    margin-top: 3%;
    width: 100%;
    visibility:visible;
    }    
}
.creditos{
   display: flex;
  margin-left: 60%;
  flex-direction: column;
}
#copy{
    display: flex;

}

/* @media all and (min-width: 600px) {
  .creditos{
    display: none;
  }
} */
